/*-- scss:defaults --*/
// Base document colors
$body-bg: #576945;
$body-color: white;
$link-color: #75AADB;

// Code blocks
$code-block-bg-alpha: -.8;

// Navigation
$navbar-bg: white;
$navbar-fg: Black;


// Callout blocks
$callout-color-note: #6D9775;
$callout-color-tip: #d6ad47;
$callout-color-warning: #9d8757;
$callout-color-caution: #cac6be;
$callout-color-important: #BB6649;
 