/*-- scss:defaults --*/
// Base document colors
$body-bg: #e9e4dd;
$body-color: black;
$link-color: #75AADB;

// Navigation
$navbar-bg: #576945;
$navbar-fg: white;


// Callout blocks
$callout-color-note: #315C62;
$callout-color-tip: #576945;
$callout-color-warning: #E1A102;
$callout-color-caution: #DE634D;
$callout-color-important: #C76439;
