/*-- scss:defaults --*/
// Base document colors
$body-bg: #e9e4dd;
$body-color: black;
$link-color: #75AADB;

// Navigation
$navbar-bg: #576945;
$navbar-fg: white;


// Callout blocks
$callout-color-note: #576945;
$callout-color-tip: #E1A102;
$callout-color-warning: #315C62;
$callout-color-caution: #DE634D;
$callout-color-important: #C76439;

// Mixins

@mixin shadow($bg: $gray-200, $shadow: $box-shadow) {
    background-color: $bg;
    border: none;
    box-shadow: $shadow;
    transition: background-color .15s ease-in-out, border .15s ease-in-out, box-shadow .15s ease-in-out, color .15s ease-in-out;
  }
  
@mixin shadow-outline($bg: $body-bg, $shadow: $box-shadow) {
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    bottom: -.5rem;
    left: -.5rem;
    z-index: -1;
    content: "";
    background-color: $bg;
    border: 1px solid rgba($white, .1);
    box-shadow: $shadow;
    transition: background-color .15s ease-in-out, border .15s ease-in-out, box-shadow .15s ease-in-out, color .15s ease-in-out;
}
  